.HeadPane {

    width: 100%;
    height: 3em;
    top: 0;
    left:0;

    user-select: none;

    section {
        position:relative;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        justify-items:left;
        align-items:center;

        & > *:nth-child(3) {
            justify-self:right;
            margin:0 calc(.5vw + .1em);
        }

        .Medailon {
            height:3em;
            width:3em;
        }
    }

}